@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.row {
  max-width: 184rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 8rem; }
  .row:not(:last-child) {
    flex: 0 0 100%;
    margin: auto;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }

.col {
  flex-direction: column; }

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary--white {
    background-image: linear-gradient(to right, #f7f7f7, #fff); }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.feature {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  height: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .feature {
      padding: 2rem; } }
  .feature__icon {
    fill: #28b485;
    height: 4rem;
    width: 4rem;
    margin: .5rem 0;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .feature__icon {
        margin-bottom: 0; } }
  .feature__text {
    font-size: 1.6rem;
    margin-bottom: 1.2rem; }
  .feature__list {
    list-style: none; }
    .feature__list__item:not(:last-child) {
      margin-right: 1.5rem; }
  .feature:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.dev__list {
  list-style: none;
  margin: auto;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 2px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
  .dev__list__item {
    margin-left: 2rem;
    margin-bottom: .7rem; }
    .dev__list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .2rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;
      transition: all .2s; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .dev__list__item::before {
          background-color: #55c57a;
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }
    .dev__list__item:hover::before {
      transform: rotate(180deg); }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 6rem 0; }
  .footer__copyright {
    font-size: 2.5rem;
    margin: auto; }
    @media only screen and (max-width: 75em) {
      .footer__copyright {
        font-size: 2rem; } }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/mountain.webp);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8), url(../img/mountain.webp)); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__text {
    color: #fff;
    font-size: 2rem;
    margin-left: .6rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    display: flex;
    align-items: center; }
  .header__logo {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    fill: #fff; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-solutions {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nature-background.webp");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10.5rem; }
  .section-solutions > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-solutions {
      padding: 10rem 0; } }

.features-box {
  padding: 0 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  place-content: center;
  margin: 8rem 0 5rem 0; }
  @media only screen and (max-width: 75em) {
    .features-box {
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .features-box {
      padding: 3rem; } }

.section-devs {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10.5rem; }
  @media only screen and (max-width: 56.25em) {
    .section-devs {
      padding: 20rem 0; } }
