.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/penguin-land.webp);
    background-size: cover;
    background-position: bottom;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @include responsive(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__text {
        color: $color-white;
        font-size: 2rem;
        margin-left: .8rem;
    }

    &__logo-box {
        position: absolute;
        top: 5rem;
        left: 4rem;
        display: flex;
        align-items: center;

        &:hover>.header__logo {
            transform: rotate(-180deg);
        }
    }

    &__logo {
        display: inline-block;
        height: 3.5rem;
        width: 3.5rem;
        paint-order: fill;
        fill: $color-white;
        stroke: $color-white;
        transition: all .2s;

    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}